<h1>Novo Produto</h1>

<%= form_for @product do |f| %>
  <%= f.label 'Nome' %>
  <%= f.text_field :name %> <br>

  <%= f.label 'Quantidade' %>
  <%= f.text_field :amount %> <br>

  <%= f.label 'Preço unitário' %>
  <%= f.text_field :unit_price %> <br>

  <%= f.label 'Descrição' %>
  <%= f.text_area :description %> <br>

  <%= f.label 'Detalhes técnicos' %>
  <%= f.text_area :technical_details %> <br>

  <%= f.submit 'Salvar' %>
<% end %>
